<uAvatar name="Kunal Sindhi" radius="20px" variant="circle" size="80px" fontSize="40px" background="red" color="yellow"></uAvatar> 
<!-- <uis-heading
  [tag]="'h1'"
  [title]="'Hello World'"
  [spaceTop]="'30px'"
  [bold]="'600'"
  [color]="'blue'"
></uis-heading> -->

<uTable>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Username</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Username</th>
      <th>Email</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of [0,0,0,0,0]">
      <td>Kunal Sindhi</td>
      <td>kkingj[at]yahoo.com</td>
      <td>8009987654</td>
      <td>Kunal Sindhi</td>
      <td>kkingj[at]yahoo.com</td>
      <td>8009987654</td>
      <td>Kunal Sindhi</td>
      <td>kkingj[at]yahoo.com</td>
      <td>8009987654</td>
    </tr>
  </tbody>
</uTable>